[submodule "dotfiles/vim/bundle/SimpylFold"]
	path = dotfiles/vim/bundle/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold.git
[submodule "dotfiles/vim/bundle/gruvbox"]
	path = dotfiles/vim/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "dotfiles/vim/bundle/vim-airline"]
	path = dotfiles/vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "dotfiles/vim/bundle/vim-lastplace"]
	path = dotfiles/vim/bundle/vim-lastplace
	url = https://github.com/dietsche/vim-lastplace.git
[submodule "dotfiles/vim/bundle/nerdtree"]
	path = dotfiles/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "dotfiles/vim/bundle/vim-beancount"]
	path = dotfiles/vim/bundle/vim-beancount
	url = https://github.com/nathangrigg/vim-beancount.git
[submodule "gruvbox-contrib"]
	path = gruvbox-contrib
	url = https://github.com/morhetz/gruvbox-contrib.git
