[submodule "themes/terminal_themes"]
	path = themes/terminal_themes
	url = https://github.com/morhetz/gruvbox-contrib.git
[submodule "themes/tilix_themes"]
	path = themes/tilix_themes
	url = https://github.com/MichaelThessel/tilix-gruvbox.git
